pipeline/CMN_FILE_BACKUP_TSV.json
{
	"name": "CMN_FILE_BACKUP_TSV",
	"properties": {
		"activities": [
			{
				"name": "Execute_TEMPFILE_COPY_TO_GETAWAYSERVER1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEach_backup_tsv",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "TEMPFILE_COPY_TO_GATEWAYSERVER",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"programId": {
							"value": "@pipeline().parameters.programId",
							"type": "Expression"
						},
						"DATAAREAID": {
							"value": "@pipeline().parameters.DATAAREAID",
							"type": "Expression"
						},
						"Exe_Status": {
							"value": "@pipeline().parameters.Exe_Status",
							"type": "Expression"
						},
						"sysFromTo": {
							"value": "@pipeline().parameters.sysFromTo",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set_Error_Code",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Error_Code",
					"value": {
						"value": "8",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach_backup_tsv",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set_Error_Code",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@if(equals(pipeline().parameters.targetDir[0], ''), variables('targetsBackup'), pipeline().parameters.targetDir)",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "CMN_FILE_BACKUP",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BlobSource",
									"recursive": false
								},
								"sink": {
									"type": "BlobSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "GSC_INPUT_BLOB_TSV",
									"type": "DatasetReference",
									"parameters": {
										"dir": {
											"value": "@{pipeline().parameters.sysFromTo}/@{item()}/@{pipeline().parameters.programId}/@{pipeline().parameters.DATAAREAID}",
											"type": "Expression"
										},
										"file": {
											"value": "*.tsv",
											"type": "Expression"
										},
										"optionSkipCount": 0,
										"optionColNmFirstRow": false
									}
								}
							],
							"outputs": [
								{
									"referenceName": "GSC_CMN_ZIP_BACKUP_TSV",
									"type": "DatasetReference",
									"parameters": {
										"programId": {
											"value": "@pipeline().parameters.programId",
											"type": "Expression"
										},
										"DATAAREAID": {
											"value": "@pipeline().parameters.DATAAREAID",
											"type": "Expression"
										},
										"sysFromTo": {
											"value": "@pipeline().parameters.sysFromTo",
											"type": "Expression"
										},
										"targetDir": {
											"value": "@item()",
											"type": "Expression"
										},
										"backupDate": {
											"value": "@pipeline().parameters.backupDate",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "CMN_FILE_DELETE_TSV",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "CMN_FILE_BACKUP",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "GSC_INPUT_BLOB_TSV",
									"type": "DatasetReference",
									"parameters": {
										"dir": {
											"value": "@{pipeline().parameters.sysFromTo}/@{item()}/@{pipeline().parameters.programId}/@{pipeline().parameters.DATAAREAID}",
											"type": "Expression"
										},
										"file": {
											"value": "*.tsv",
											"type": "Expression"
										},
										"optionSkipCount": 0,
										"optionColNmFirstRow": false
									}
								},
								"enableLogging": false
							}
						}
					]
				}
			},
			{
				"name": "Execute_TEMPFILE_COPY_TO_GETAWAYSERVER2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEach_backup_tsv",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "TEMPFILE_COPY_TO_GATEWAYSERVER",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"programId": {
							"value": "@pipeline().parameters.programId",
							"type": "Expression"
						},
						"DATAAREAID": {
							"value": "@pipeline().parameters.DATAAREAID",
							"type": "Expression"
						},
						"Exe_Status": {
							"value": "@variables('Error_Code')",
							"type": "Expression"
						},
						"sysFromTo": {
							"value": "@pipeline().parameters.sysFromTo",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"programId": {
				"type": "string"
			},
			"DATAAREAID": {
				"type": "string"
			},
			"sysFromTo": {
				"type": "string"
			},
			"targetDir": {
				"type": "array"
			},
			"backupDate": {
				"type": "string"
			},
			"Exe_Status": {
				"type": "string"
			}
		},
		"variables": {
			"Error_Code": {
				"type": "String"
			},
			"targetsBackup": {
				"type": "Array",
				"defaultValue": []
			}
		},
		"folder": {
			"name": "GSC/src/cmn"
		},
		"annotations": [],
		"lastPublishTime": "2019-12-23T08:48:20Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}