pipeline/CMN_FILE_BACKUP_LOT2.json
{
	"name": "CMN_FILE_BACKUP_LOT2",
	"properties": {
		"activities": [
			{
				"name": "EachFiles_copy",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.backupProperty[0]",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Get_Exists",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "GSC_CMN_BLOB_INOUT_BINARY_FILE",
									"type": "DatasetReference",
									"parameters": {
										"dir": {
											"value": "@item()[0]",
											"type": "Expression"
										},
										"file": {
											"value": "@if(contains(item()[2], '*' ), variables('Dummy'), item()[2] )",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"exists"
								]
							}
						},
						{
							"name": "Copy_then",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get_Exists",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('Get_Exists').output.exists",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BlobSource",
												"recursive": false
											},
											"sink": {
												"type": "BlobSink"
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "GSC_CMN_BLOB_INOUT_BINARY_FILE",
												"type": "DatasetReference",
												"parameters": {
													"dir": {
														"value": "@item()[0]",
														"type": "Expression"
													},
													"file": {
														"value": "@item()[2]",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "GSC_CMN_BLOB_INOUT_BINARY_MULTIPLE_FILES",
												"type": "DatasetReference",
												"parameters": {
													"dir": {
														"value": "@item()[1]",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "EachFolders_mkZip_dlFolder",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "EachFiles_copy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.backupProperty[1]",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "mkZip_dlFolder",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get_ExistsFolder",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('Get_ExistsFolder').output.exists",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "mkZip",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BlobSource",
												"recursive": false
											},
											"sink": {
												"type": "BlobSink"
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "GSC_CMN_BLOB_INOUT_BINARY_FILE",
												"type": "DatasetReference",
												"parameters": {
													"dir": "@item()[0]",
													"file": "*"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "GSC_CMN_ZIP_BACKUP_LOT2",
												"type": "DatasetReference",
												"parameters": {
													"backup_path": "@item()[1]",
													"backup_file": "@item()[2]"
												}
											}
										]
									},
									{
										"name": "dlFolder",
										"type": "Delete",
										"dependsOn": [
											{
												"activity": "mkZip",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "GSC_CMN_BLOB_INOUT_BINARY_MULTIPLE_FILES",
												"type": "DatasetReference",
												"parameters": {
													"dir": "@item()[0]"
												}
											},
											"enableLogging": false
										}
									}
								]
							}
						},
						{
							"name": "Get_ExistsFolder",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "GSC_CMN_BLOB_INOUT_BINARY_FILE",
									"type": "DatasetReference",
									"parameters": {
										"dir": {
											"value": "@item()[0]",
											"type": "Expression"
										},
										"file": {
											"value": "@variables('Dummy')",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"exists"
								]
							}
						}
					]
				}
			},
			{
				"name": "EachFiles_delete",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "EachFolders_mkZip_dlFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.backupProperty[2]",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Get_Exists2",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "GSC_CMN_BLOB_INOUT_BINARY_FILE",
									"type": "DatasetReference",
									"parameters": {
										"dir": {
											"value": "@item()[0]",
											"type": "Expression"
										},
										"file": {
											"value": "@if(contains(item()[1], '*' ), variables('Dummy'), item()[1] )",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"exists"
								]
							}
						},
						{
							"name": "Delete_then",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get_Exists2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('Get_Exists2').output.exists",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Delete",
										"type": "Delete",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "GSC_CMN_BLOB_INOUT_BINARY_FILE",
												"type": "DatasetReference",
												"parameters": {
													"dir": "@item()[0]",
													"file": "@item()[1]"
												}
											},
											"enableLogging": false
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Exec_TEMPFILE_COPY_TO_GATEWAYSERVER_LOT2_1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "EachFiles_delete",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "TEMPFILE_COPY_TO_GATEWAYSERVER_LOT2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"programId": {
							"value": "@pipeline().parameters.programId",
							"type": "Expression"
						},
						"DATAAREAID": {
							"value": "@pipeline().parameters.DATAAREAID",
							"type": "Expression"
						},
						"Exe_Status": {
							"value": "@pipeline().parameters.Exe_Status",
							"type": "Expression"
						},
						"sysFromTo": {
							"value": "@pipeline().parameters.sysFromTo",
							"type": "Expression"
						},
						"targetDirGw": {
							"value": "@pipeline().parameters.targetDirGw",
							"type": "Expression"
						},
						"pipelineId": {
							"value": "@pipeline().parameters.pipelineId",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Exec_TEMPFILE_COPY_TO_GATEWAYSERVER_LOT2_2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "EachFiles_copy",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "TEMPFILE_COPY_TO_GATEWAYSERVER_LOT2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"programId": {
							"value": "@pipeline().parameters.programId",
							"type": "Expression"
						},
						"DATAAREAID": {
							"value": "@pipeline().parameters.DATAAREAID",
							"type": "Expression"
						},
						"Exe_Status": "8",
						"sysFromTo": {
							"value": "@pipeline().parameters.sysFromTo",
							"type": "Expression"
						},
						"targetDirGw": {
							"value": "@pipeline().parameters.targetDirGw",
							"type": "Expression"
						},
						"pipelineId": {
							"value": "@pipeline().parameters.pipelineId",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Exec_TEMPFILE_COPY_TO_GATEWAYSERVER_LOT2_3",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "EachFolders_mkZip_dlFolder",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "TEMPFILE_COPY_TO_GATEWAYSERVER_LOT2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"programId": {
							"value": "@pipeline().parameters.programId",
							"type": "Expression"
						},
						"DATAAREAID": {
							"value": "@pipeline().parameters.DATAAREAID",
							"type": "Expression"
						},
						"Exe_Status": "8",
						"sysFromTo": {
							"value": "@pipeline().parameters.sysFromTo",
							"type": "Expression"
						},
						"targetDirGw": {
							"value": "@pipeline().parameters.targetDirGw",
							"type": "Expression"
						},
						"pipelineId": {
							"value": "@pipeline().parameters.pipelineId",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Exec_TEMPFILE_COPY_TO_GATEWAYSERVER_LOT2_4",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "EachFiles_delete",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "TEMPFILE_COPY_TO_GATEWAYSERVER_LOT2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"programId": {
							"value": "@pipeline().parameters.programId",
							"type": "Expression"
						},
						"DATAAREAID": {
							"value": "@pipeline().parameters.DATAAREAID",
							"type": "Expression"
						},
						"Exe_Status": "8",
						"sysFromTo": {
							"value": "@pipeline().parameters.sysFromTo",
							"type": "Expression"
						},
						"targetDirGw": {
							"value": "@pipeline().parameters.targetDirGw",
							"type": "Expression"
						},
						"pipelineId": {
							"value": "@pipeline().parameters.pipelineId",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"programId": {
				"type": "string"
			},
			"DATAAREAID": {
				"type": "string"
			},
			"sysFromTo": {
				"type": "string"
			},
			"Exe_Status": {
				"type": "string"
			},
			"backupProperty": {
				"type": "array"
			},
			"targetDirGw": {
				"type": "string"
			},
			"pipelineId": {
				"type": "string"
			}
		},
		"variables": {
			"Dummy": {
				"type": "String"
			}
		},
		"folder": {
			"name": "GSC/src/cmn"
		},
		"annotations": [],
		"lastPublishTime": "2020-09-30T17:22:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}