pipeline/CMN_FILE_BACKUP.json
{
	"name": "CMN_FILE_BACKUP",
	"properties": {
		"activities": [
			{
				"name": "CMN_FILE_BACKUP",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set_Error_Code",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BlobSource",
						"recursive": true
					},
					"sink": {
						"type": "BlobSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "GSC_CMN_FILE_BACKUP",
						"type": "DatasetReference",
						"parameters": {
							"programId": {
								"value": "@pipeline().parameters.programId",
								"type": "Expression"
							},
							"DATAAREAID": {
								"value": "@pipeline().parameters.DATAAREAID",
								"type": "Expression"
							},
							"sysFromTo": {
								"value": "@pipeline().parameters.sysFromTo",
								"type": "Expression"
							},
							"targetDir": {
								"value": "@pipeline().parameters.targetDir",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "GSC_CMN_ZIP_BACKUP",
						"type": "DatasetReference",
						"parameters": {
							"programId": {
								"value": "@pipeline().parameters.programId",
								"type": "Expression"
							},
							"DATAAREAID": {
								"value": "@pipeline().parameters.DATAAREAID",
								"type": "Expression"
							},
							"sysFromTo": {
								"value": "@pipeline().parameters.sysFromTo",
								"type": "Expression"
							},
							"targetDir": {
								"value": "@pipeline().parameters.targetDir",
								"type": "Expression"
							},
							"backupDate": {
								"value": "@pipeline().parameters.backupDate",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "CMN_FILE_DELETE",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "CMN_FILE_BACKUP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "GSC_CMN_FILE_BACKUP",
						"type": "DatasetReference",
						"parameters": {
							"programId": {
								"value": "@pipeline().parameters.programId",
								"type": "Expression"
							},
							"DATAAREAID": {
								"value": "@pipeline().parameters.DATAAREAID",
								"type": "Expression"
							},
							"sysFromTo": {
								"value": "@pipeline().parameters.sysFromTo",
								"type": "Expression"
							},
							"targetDir": {
								"value": "@pipeline().parameters.targetDir",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false
				}
			},
			{
				"name": "Execute_TEMPFILE_COPY_TO_GETAWAYSERVER22",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "CMN_FILE_DELETE",
						"dependencyConditions": [
							"Succeeded",
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "TEMPFILE_COPY_TO_GATEWAYSERVER",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"programId": {
							"value": "@pipeline().parameters.programId",
							"type": "Expression"
						},
						"DATAAREAID": {
							"value": "@pipeline().parameters.DATAAREAID",
							"type": "Expression"
						},
						"Exe_Status": {
							"value": "@pipeline().parameters.Exe_Status",
							"type": "Expression"
						},
						"sysFromTo": {
							"value": "@pipeline().parameters.sysFromTo",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Execute_TEMPFILE_COPY_TO_GETAWAYSERVER",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "CMN_FILE_BACKUP",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "TEMPFILE_COPY_TO_GATEWAYSERVER",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"programId": {
							"value": "@pipeline().parameters.programId",
							"type": "Expression"
						},
						"DATAAREAID": {
							"value": "@pipeline().parameters.DATAAREAID",
							"type": "Expression"
						},
						"Exe_Status": {
							"value": "@variables('Error_Code')",
							"type": "Expression"
						},
						"sysFromTo": {
							"value": "@pipeline().parameters.sysFromTo",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set_Error_Code",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Error_Code",
					"value": {
						"value": "8",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"programId": {
				"type": "string"
			},
			"DATAAREAID": {
				"type": "string"
			},
			"sysFromTo": {
				"type": "string"
			},
			"targetDir": {
				"type": "string"
			},
			"backupDate": {
				"type": "string"
			},
			"Exe_Status": {
				"type": "string"
			}
		},
		"variables": {
			"Error_Code": {
				"type": "String"
			}
		},
		"folder": {
			"name": "GSC/src/cmn"
		},
		"annotations": [],
		"lastPublishTime": "2020-01-23T01:38:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}