pipeline/getSecretbyWeb_copy1.json
{
	"name": "getSecretbyWeb_copy1",
	"properties": {
		"activities": [
			{
				"name": "GetoutputfromGraphAPI",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "getAuthorizationToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://graph.microsoft.com/v1.0/reports/getOffice365ActiveUserDetail(period='D7')",
					"method": "GET",
					"headers": {
						"Authorization": {
							"value": "@{concat('Bearer ',activity('getAuthorizationToken').output.access_token)}",
							"type": "Expression"
						}
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "getAuthorizationToken",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://login.microsoftonline.com/a0a58ec7-09e8-41f9-ae5a-0d67d1ccabc5/oauth2/v2.0/token",
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "@concat(concat('tenant=a0a58ec7-09e8-41f9-ae5a-0d67d1ccabc5&client_id=',variables('clientid'),'&client_secret='),variables('clientsecret'),'&grant_type=client_credentials&scope=https://graph.microsoft.com/.default')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"clientid": {
				"type": "String",
				"defaultValue": "61f1feff-d56d-47f2-90c2-4318529c7e16"
			},
			"clientsecret": {
				"type": "String",
				"defaultValue": "2xT2olclto1b48uj_9.R3~OQmg1K5.3_8S"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-07-29T02:22:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}