pipeline/Odata.json
{
	"name": "Odata",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Copy data1_copy1_copy1').outputrow == 1",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1_copy1_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ODataSource",
									"query": "select * from people where LastName = \"Guess\" order by date limit 10 offset 10*i",
									"httpRequestTimeout": "00:05:00"
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ODataResource1",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlTable1",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy data1_copy1_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": []
						}
					],
					"timeout": "7.00:00:00"
				}
			}
		],
		"parameters": {
			"i": {
				"type": "int",
				"defaultValue": 0
			}
		},
		"annotations": []
	}
}