pipeline/S20_API_STG_TO_BASE_COPY_SQLDB.json
{
	"name": "S20_API_STG_TO_BASE_COPY_SQLDB",
	"properties": {
		"activities": [
			{
				"name": "LP_COPY_STG_TO_BASE_LIST",
				"description": "lookup control table to get list of all CES objects for ingestion",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@pipeline().parameters.s20CntlLookupQry",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQLDB",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": {
								"value": "@pipeline().parameters.s20BaseSchemaName",
								"type": "Expression"
							},
							"tableName": {
								"value": "@pipeline().parameters.s20CtlTable",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "EP_CHECK_BASE_SCHEMA_CHANGES",
				"description": "compares stage and base schemas",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "LP_COPY_STG_TO_BASE_LIST",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CHECK_AND_ADD_SCHEMA_CHANGES_SQLDB",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false,
					"parameters": {
						"strSrcSchemaName": {
							"value": "@activity('LP_COPY_STG_TO_BASE_LIST').output.firstRow.Dest_Schema_Name",
							"type": "Expression"
						},
						"strSrcTableName": {
							"value": "@activity('LP_COPY_STG_TO_BASE_LIST').output.firstRow.Dest_Table_Name",
							"type": "Expression"
						},
						"strDestSchemaName": {
							"value": "@activity('LP_COPY_STG_TO_BASE_LIST').output.firstRow.Base_Schema_Name",
							"type": "Expression"
						},
						"strDestTableName": {
							"value": "@activity('LP_COPY_STG_TO_BASE_LIST').output.firstRow.Base_Table_Name",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "EP_CHECK_HIST_SCHEMA_CHANGES",
				"description": "compares stage and history schemas",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "LP_COPY_STG_TO_BASE_LIST",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CHECK_AND_ADD_SCHEMA_CHANGES_SQLDB",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false,
					"parameters": {
						"strSrcSchemaName": {
							"value": "@pipeline().parameters.s20StgSchemaName",
							"type": "Expression"
						},
						"strSrcTableName": {
							"value": "@activity('LP_COPY_STG_TO_BASE_LIST').output.firstRow.Dest_Table_Name",
							"type": "Expression"
						},
						"strDestSchemaName": {
							"value": "@pipeline().parameters.s20HistSchemaName",
							"type": "Expression"
						},
						"strDestTableName": {
							"value": "@activity('LP_COPY_STG_TO_BASE_LIST').output.firstRow.Base_Table_Name",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "WAIT_FOR_COLUMN_UPDATES",
				"description": "wait for some time",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "EP_CHECK_BASE_SCHEMA_CHANGES",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "EP_CHECK_HIST_SCHEMA_CHANGES",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 30
				}
			},
			{
				"name": "SP_COPY_INC_STG_TO_BASE",
				"description": "calls a procedure to copy stage data to base",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "WAIT_FOR_COLUMN_UPDATES",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": {
						"value": "@pipeline().parameters.strSPCesIncStgToBaseCopy",
						"type": "Expression"
					},
					"storedProcedureParameters": {
						"destSchema": {
							"value": {
								"value": "@pipeline().parameters.s20BaseSchemaName",
								"type": "Expression"
							},
							"type": "String"
						},
						"preSchema": {
							"type": "String"
						},
						"primaryKeyName": {
							"value": {
								"value": "@activity('LP_COPY_STG_TO_BASE_LIST').output.firstRow.Primary_Key",
								"type": "Expression"
							},
							"type": "String"
						},
						"srcSchema": {
							"value": {
								"value": "@pipeline().parameters.s20StgSchemaName",
								"type": "Expression"
							},
							"type": "String"
						},
						"tableName": {
							"value": {
								"value": "@activity('LP_COPY_STG_TO_BASE_LIST').output.firstRow.Dest_Table_Name",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "USCDO_SQLDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP_COPY_STG_TO_HIST",
				"description": "calls a procedure to copy stage data to history",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SP_COPY_INC_STG_TO_BASE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": {
						"value": "@pipeline().parameters.strSPCesIncStgToHistCopy",
						"type": "Expression"
					},
					"storedProcedureParameters": {
						"destSchema": {
							"value": {
								"value": "@pipeline().parameters.s20HistSchemaName",
								"type": "Expression"
							},
							"type": "String"
						},
						"srcSchema": {
							"value": {
								"value": "@pipeline().parameters.s20StgSchemaName",
								"type": "Expression"
							},
							"type": "String"
						},
						"tableName": {
							"value": {
								"value": "@activity('LP_COPY_STG_TO_BASE_LIST').output.firstRow.Dest_Table_Name",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "USCDO_SQLDB",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"s20CntlLookupQry": {
				"type": "string",
				"defaultValue": "select *,newid() as tblJobLoggingKey from [Src20_api].Src20ApiObjects_Ctl  where IsCopyTableActive = 'Y'"
			},
			"s20BaseSchemaName": {
				"type": "string",
				"defaultValue": "Src20_api"
			},
			"s20StgSchemaName": {
				"type": "string",
				"defaultValue": "Src20_api_stg"
			},
			"s20HistSchemaName": {
				"type": "string",
				"defaultValue": "Src20_api_hist"
			},
			"s20CtlTable": {
				"type": "string",
				"defaultValue": "Src20ApiObjects_Ctl"
			},
			"strSPCesIncStgToBaseCopy": {
				"type": "string",
				"defaultValue": "[Src20_api].[sp_copyIncrStageTablesToBase]"
			},
			"strSPCesIncStgToHistCopy": {
				"type": "string",
				"defaultValue": "[Src20_api].[sp_insertS20_gupIncHistory]"
			}
		},
		"folder": {
			"name": "CES_API"
		},
		"annotations": [],
		"lastPublishTime": "2021-08-16T11:02:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}