pipeline/SIV-T3_IDMS_GOM_DSH_W.json
{
	"name": "SIV-T3_IDMS_GOM_DSH_W",
	"properties": {
		"description": "################################################################################\n### Project             : GSC Lot4\n### Category          : GSC\n### Function name : SIV-T3_IDMS_GOM\n### Pipeline name  : SIV-T3_IDMS_GOM_DCS_W\n### Version             : 1.0\n### Description       :  Insert Carrier code master into the Worktable\n################################################################################\n### Change history\n################################################################################\n### Version             : 1.0\n### Date                 : 2020/10/7\n### Modified by     : HCM Kato\n### Description      : Create New\n################################################################################",
		"activities": [
			{
				"name": "Check_File_Size",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get_outPutFile_Size",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(activity('Get_outPutFile_Size').output, 'firstRow')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Exe_Status",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Exe_Status",
								"value": {
									"value": "1",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Convert_Sales Invoice Shipping",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/GSC/src/IDMS_GOM/SIV-T3_IDMS_GOM_DSH_W",
								"baseParameters": {
									"DATAAREAID": {
										"value": "@variables('DATAAREAID')",
										"type": "Expression"
									},
									"programId": {
										"value": "@variables('programId')",
										"type": "Expression"
									},
									"sysFromTo": {
										"value": "@variables('sysFromTo')",
										"type": "Expression"
									},
									"targetDir": {
										"value": "@variables('targetsDir')[0]",
										"type": "Expression"
									},
									"sysDate": {
										"value": "@formatDateTime(pipeline().TriggerTime, 'yyyyMMddHHmmss')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ProductionGSC",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Get_Exe_Status",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Convert_Sales Invoice Shipping",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BlobSource",
									"recursive": false
								},
								"dataset": {
									"referenceName": "GSC_CMN_BLOB_INOUT_JSON_OBJECTS",
									"type": "DatasetReference",
									"parameters": {
										"dir": {
											"value": "@variables('targetPath')[0]",
											"type": "Expression"
										},
										"file": {
											"value": "@concat(variables('programId'),'_',variables('DATAAREAID'),'_','Status.json')",
											"type": "Expression"
										}
									}
								}
							}
						},
						{
							"name": "Set_Exe_Status",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Get_Exe_Status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Exe_Status",
								"value": {
									"value": "@string(activity('Get_Exe_Status').output.firstRow.statusCd)",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set_DATAAREAID",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "DATAAREAID",
					"value": {
						"value": "@replace(pipeline().parameters.DATAAREAID, '''', '')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set_programId",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "programId",
					"value": {
						"value": "@substring(pipeline().Pipeline, 0, 21)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set_sysFromTo",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "sysFromTo",
					"value": {
						"value": "@substring(pipeline().Pipeline, 7,8)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set_targetsDir",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set_sysDate",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set_sysFromTo",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set_programId",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set_DATAAREAID",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set_pipelineId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "targetsDir",
					"value": {
						"value": "@createArray('files', 'Inbound','Outbound')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set_sysDate",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "sysDate",
					"value": {
						"value": "@formatDateTime(pipeline().TriggerTime, 'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Select_V_SO_INVOICE_SHIPPING_INFO",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set_backupProperty",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "--変数宣言\nDECLARE @CPRT_DTTM      DATETIME;\nDECLARE @OVERLAP_TIME INT;\n\n \n\nSELECT\n    @CPRT_DTTM      = GSC_IF_MNG.CPRT_DTTM\n   ,@OVERLAP_TIME = GSC_IF_MNG.OVERLAP_TIME\nFROM\n    GSC_IF_MNG\nWHERE\n    GSC_IF_MNG.DATAAREAID    = '@{variables('DATAAREAID')}'\nAND GSC_IF_MNG.FUNCTION_NAME = '@{variables('programId')}'\n;\nSELECT\n    DATAAREAID                                 AS     TP_CD  \n   ,INVOICEID                                  AS     INVC_NO  \n   ,SYSUTCDATETIME()                           AS     CREATED_DATE\n   ,'GSC'                                      AS     CREATED_USER\n   ,'SIV-T3_IDMS_GOM'                          AS     CREATED_PROGRAM\n   ,SYSUTCDATETIME()                           AS     LAST_EDITED\n   ,'GSC'                                      AS     LAST_USER\n   ,'SIV-T3_IDMS_GOM'                          AS     LAST_PROGRAM\n   ,0                                          AS     VERSION_EX_KEY\n   ,INVOICEACCOUNT                             AS     CSTMR_CD\n   ,SHIPPINGCARRIERCODE                        AS     TRSPT_VNDR_CD\n   ,TRACKINGNUMBER                             AS     TRSPT_VNDR_PRST_NO\n   ,MASTERAIRWAYBILLNUMBER                     AS     MAWB_NO\n   ,HOUSEAIRWAYBILLNUMBER                      AS     HAWB_NO\n   ,FLIGHTNUMBER                               AS     FLGT_NO_1\n   ,DEPARTINGFLIGHTNUMBER                      AS     FLGT_NO_2\n   ,VESSELNAME                                 AS     SHIP_NM\n   ,NOTE1                                      AS     SHIP_NOTE_1\n   ,NOTE2                                      AS     SHIP_NOTE_2\n   ,NOTE3                                      AS     SHIP_NOTE_3\n   ,NOTE4                                      AS     SHIP_NOTE_4\n   ,NOTE5                                      AS     SHIP_NOTE_5\n   ,CONV_ESTIMATEDARRIVALDATE                  AS     ARVL_PLN_DT\nFROM\n   V_SO_INVOICE_SHIPPING_INFO\nWHERE\n    V_SO_INVOICE_SHIPPING_INFO.DATAAREAID = '@{variables('DATAAREAID')}'\nAND \n    ( @CPRT_DTTM IS NULL OR @CPRT_DTTM IS NOT NULL\n        AND (     SYNCSTARTDATETIME  BETWEEN DATEADD(second, -(@OVERLAP_TIME), @CPRT_DTTM ) AND CONVERT(DateTime, '@{variables('sysDate')}' )\n            )\n    );",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"sink": {
						"type": "BlobSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "D365_Staging_V_SO_INVOICE_SHIPPING_INFO",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "GSC_CMN_BLOB_INOUT_JSON_ARRAY",
						"type": "DatasetReference",
						"parameters": {
							"dir": {
								"value": "@variables('targetPath')[0]",
								"type": "Expression"
							},
							"file": {
								"value": "@concat(variables('programId'),'_',variables('DATAAREAID'),'.json')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "CASE_NO_RECORD_FOUND",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "CASE_NORMAL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('Exe_Status'), '1')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Delete_GOM_SHIPPING_INFO_WK",
							"description": "",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Get_TP_CD2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BlobSource",
									"recursive": false
								},
								"sink": {
									"type": "OracleSink",
									"writeBatchSize": 100000,
									"preCopyScript": {
										"value": "delete from GOM_SHIPPING_INFO_WK where TP_CD = '@{activity('GET_TP_CD2').output.firstRow.SYSTEM2_CD_VAL}'",
										"type": "Expression"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "GSC_DUMMY_JSON_FILE",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "GOM_GOM_SHIPPING_INFO_WK",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Get_TP_CD2",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select SYSTEM2_CD_VAL from GSC_CODE_CONVERSION_TBL where CD_TP = 'TP_CD' and TP_CD = 'GSC' and SYSTEM1_CD_VAL = '@{variables('DATAAREAID')}' and SYSTEM1 = '@{split(variables('sysFromTo'), '_' )[0]}' and SYSTEM2 = '@{split(variables('sysFromTo'), '_' )[1]}'",
										"type": "Expression"
									},
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "GSC_GSC_CODE_CONVERSION_TBL",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Execute_CMN_FILE_BACKUP_LOT2_2",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Update_GSC_IF_MNG2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "CMN_FILE_BACKUP_LOT2",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"programId": {
										"value": "@variables('programId')",
										"type": "Expression"
									},
									"DATAAREAID": {
										"value": "@variables('DATAAREAID')",
										"type": "Expression"
									},
									"sysFromTo": {
										"value": "@variables('sysFromTo')",
										"type": "Expression"
									},
									"Exe_Status": {
										"value": "@variables('Normal_Code')",
										"type": "Expression"
									},
									"backupProperty": {
										"value": "@variables('backupProperty')",
										"type": "Expression"
									},
									"targetDirGw": {
										"value": "@variables('targetsDir')[1]",
										"type": "Expression"
									},
									"pipelineId": {
										"value": "@variables('pipelineId')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Update_GSC_IF_MNG2",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Delete_GOM_SHIPPING_INFO_WK",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BlobSource",
									"recursive": true
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBatchSize": 100000,
									"preCopyScript": {
										"value": "update GSC_IF_MNG set\n    GSC_IF_MNG.CPRT_DTTM = CONVERT(DateTime, '@{variables('sysDate')}' )\nwhere\n    GSC_IF_MNG.DATAAREAID = '@{variables('DATAAREAID')}'\nand\n    GSC_IF_MNG.FUNCTION_NAME = '@{variables('programId')}'",
										"type": "Expression"
									},
									"disableMetricsCollection": false
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "GSC_DUMMY_JSON_FILE",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "D365_GSC_IF_MNG",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "CASE_OTHER",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "CASE_NO_RECORD_FOUND",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(or(equals(variables('Exe_Status'), '0'), equals(variables('Exe_Status'), '1')))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Execute_CMN_FILE_BACKUP_LOT2_3",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "CMN_FILE_BACKUP_LOT2",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"programId": {
										"value": "@variables('programId')",
										"type": "Expression"
									},
									"DATAAREAID": {
										"value": "@variables('DATAAREAID')",
										"type": "Expression"
									},
									"sysFromTo": {
										"value": "@variables('sysFromTo')",
										"type": "Expression"
									},
									"Exe_Status": {
										"value": "@variables('Exe_Status')",
										"type": "Expression"
									},
									"backupProperty": {
										"value": "@variables('backupProperty')",
										"type": "Expression"
									},
									"targetDirGw": {
										"value": "@variables('targetsDir')[1]",
										"type": "Expression"
									},
									"pipelineId": {
										"value": "@variables('pipelineId')",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Set_targetPath",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set_targetsDir",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "targetPath",
					"value": {
						"value": "@createArray(\n             concat(variables('sysFromTo'), '/', variables('targetsDir')[0], '/', variables('programId'))\n            )",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set_backupTargetFile",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set_targetsDir",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "backupTargetFile",
					"value": {
						"value": "@createArray(\n            concat(variables('programId'), '_', variables('DATAAREAID'), '.json')\n            ,concat(variables('programId'), '_CNV_', variables('DATAAREAID'), '.json')\n            )",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set_zipFileName",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set_targetsDir",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "zipFileName",
					"value": {
						"value": "@createArray(concat(variables('programId'), '_',variables('DATAAREAID'), '_',formatDateTime(variables('sysDate'), 'yyyyMMddHHmmss'), '.zip'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set_backupProperty",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set_targetPath",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set_backupTargetFile",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set_zipFileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "backupProperty",
					"value": {
						"value": "@createArray(\n    createArray(\n        createArray(\n            variables('targetPath')[0]\n            ,concat(variables('targetPath')[0], '/tmp_', variables('programId'), '_', variables('DATAAREAID'))\n            ,variables('backupTargetFile')[0]\n                   )\n        ,createArray(\n            variables('targetPath')[0]\n            ,concat(variables('targetPath')[0], '/tmp_', variables('programId'), '_', variables('DATAAREAID'))\n            ,variables('backupTargetFile')[1]\n                   )\n               )\n   ,createArray(\n        createArray(\n             concat(variables('targetPath')[0], '/tmp_', variables('programId'), '_', variables('DATAAREAID'))\n            ,concat(variables('targetPath')[0], '/backup')\n            ,variables('zipFileName')[0]\n                   )\n               )\n   ,createArray(\n        createArray(\n            variables('targetPath')[0]\n            ,variables('backupTargetFile')[0]\n                   )\n        ,createArray(\n            variables('targetPath')[0]\n            ,variables('backupTargetFile')[1]\n                  )\n        ,createArray(\n            variables('targetPath')[0]\n            ,concat(variables('programId'),'_',variables('DATAAREAID'),'_Status.json')\n                   )\n               )\n            )",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute_TEMPFILE_COPY_TO_GETAWAYSERVER_LOT2_1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Select_V_SO_INVOICE_SHIPPING_INFO",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "TEMPFILE_COPY_TO_GATEWAYSERVER_LOT2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"programId": {
							"value": "@variables('programId')",
							"type": "Expression"
						},
						"DATAAREAID": {
							"value": "@variables('DATAAREAID')",
							"type": "Expression"
						},
						"Exe_Status": {
							"value": "@variables('Error_Code')",
							"type": "Expression"
						},
						"sysFromTo": {
							"value": "@variables('sysFromTo')",
							"type": "Expression"
						},
						"targetDirGw": {
							"value": "@variables('targetsDir')[1]",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Execute_CMN_FILE_BACKUP_LOT2_4",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Get_outPutFile_Size",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CMN_FILE_BACKUP_LOT2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"programId": {
							"value": "@variables('programId')",
							"type": "Expression"
						},
						"DATAAREAID": {
							"value": "@variables('DATAAREAID')",
							"type": "Expression"
						},
						"sysFromTo": {
							"value": "@variables('sysFromTo')",
							"type": "Expression"
						},
						"Exe_Status": {
							"value": "@variables('Error_Code')",
							"type": "Expression"
						},
						"backupProperty": {
							"value": "@variables('backupProperty')",
							"type": "Expression"
						},
						"targetDirGw": {
							"value": "@variables('targetsDir')[1]",
							"type": "Expression"
						},
						"pipelineId": {
							"value": "@variables('pipelineId')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Execute_CMN_FILE_BACKUP_LOT2_5",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Check_File_Size",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CMN_FILE_BACKUP_LOT2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"programId": {
							"value": "@variables('programId')",
							"type": "Expression"
						},
						"DATAAREAID": {
							"value": "@variables('DATAAREAID')",
							"type": "Expression"
						},
						"sysFromTo": {
							"value": "@variables('sysFromTo')",
							"type": "Expression"
						},
						"Exe_Status": {
							"value": "@variables('Error_Code')",
							"type": "Expression"
						},
						"backupProperty": {
							"value": "@variables('backupProperty')",
							"type": "Expression"
						},
						"targetDirGw": {
							"value": "@variables('targetsDir')[1]",
							"type": "Expression"
						},
						"pipelineId": {
							"value": "@variables('pipelineId')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Execute_CMN_FILE_BACKUP_LOT2_6",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "CASE_NORMAL",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CMN_FILE_BACKUP_LOT2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"programId": {
							"value": "@variables('programId')",
							"type": "Expression"
						},
						"DATAAREAID": {
							"value": "@variables('DATAAREAID')",
							"type": "Expression"
						},
						"sysFromTo": {
							"value": "@variables('sysFromTo')",
							"type": "Expression"
						},
						"Exe_Status": {
							"value": "@variables('Error_Code')",
							"type": "Expression"
						},
						"backupProperty": {
							"value": "@variables('backupProperty')",
							"type": "Expression"
						},
						"targetDirGw": {
							"value": "@variables('targetsDir')[1]",
							"type": "Expression"
						},
						"pipelineId": {
							"value": "@variables('pipelineId')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Execute_CMN_FILE_BACKUP_LOT2_7",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "CASE_NO_RECORD_FOUND",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CMN_FILE_BACKUP_LOT2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"programId": {
							"value": "@variables('programId')",
							"type": "Expression"
						},
						"DATAAREAID": {
							"value": "@variables('DATAAREAID')",
							"type": "Expression"
						},
						"sysFromTo": {
							"value": "@variables('sysFromTo')",
							"type": "Expression"
						},
						"Exe_Status": {
							"value": "@variables('Error_Code')",
							"type": "Expression"
						},
						"backupProperty": {
							"value": "@variables('backupProperty')",
							"type": "Expression"
						},
						"targetDirGw": {
							"value": "@variables('targetsDir')[1]",
							"type": "Expression"
						},
						"pipelineId": {
							"value": "@variables('pipelineId')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Get_outPutFile_Size",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Select_V_SO_INVOICE_SHIPPING_INFO",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BlobSource",
						"recursive": false
					},
					"dataset": {
						"referenceName": "GSC_CMN_BLOB_INOUT_JSON_ARRAY",
						"type": "DatasetReference",
						"parameters": {
							"dir": {
								"value": "@variables('targetPath')[0]",
								"type": "Expression"
							},
							"file": {
								"value": "@concat(variables('programId'),'_',variables('DATAAREAID'),'.json')",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "CASE_NORMAL",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check_File_Size",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('Exe_Status'), '0')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Execute_CMN_FILE_BACKUP_LOT2_1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Update_GSC_IF_MNG1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "CMN_FILE_BACKUP_LOT2",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"programId": {
										"value": "@variables('programId')",
										"type": "Expression"
									},
									"DATAAREAID": {
										"value": "@variables('DATAAREAID')",
										"type": "Expression"
									},
									"sysFromTo": {
										"value": "@variables('sysFromTo')",
										"type": "Expression"
									},
									"Exe_Status": {
										"value": "@variables('Normal_Code')",
										"type": "Expression"
									},
									"backupProperty": {
										"value": "@variables('backupProperty')",
										"type": "Expression"
									},
									"targetDirGw": {
										"value": "@variables('targetsDir')[1]",
										"type": "Expression"
									},
									"pipelineId": {
										"value": "@variables('pipelineId')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Create_GOM_SHIPPING_INFO_WK",
							"description": "",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Get_TP_CD1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BlobSource",
									"recursive": false
								},
								"sink": {
									"type": "OracleSink",
									"writeBatchSize": 100000,
									"preCopyScript": {
										"value": "delete from GOM_SHIPPING_INFO_WK where TP_CD = '@{activity('GET_TP_CD1').output.firstRow.TP_CD}'\t\t\t\n",
										"type": "Expression"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "GSC_GOM_SHIPPING_INFO_WK",
									"type": "DatasetReference",
									"parameters": {
										"dir": {
											"value": "@concat(variables('sysFromTo'), '/', variables('targetsDir')[0], '/', variables('programId') )",
											"type": "Expression"
										},
										"file": {
											"value": "@concat( variables('programId'), '_CNV_', variables('DATAAREAID'), '.json')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "GOM_GOM_SHIPPING_INFO_WK",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Get_TP_CD1",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BlobSource",
									"recursive": true
								},
								"dataset": {
									"referenceName": "GSC_GOM_SHIPPING_INFO_WK",
									"type": "DatasetReference",
									"parameters": {
										"dir": {
											"value": "@concat(variables('sysFromTo'), '/', variables('targetsDir')[0], '/', variables('programId') )",
											"type": "Expression"
										},
										"file": {
											"value": "@concat( variables('programId'), '_CNV_', variables('DATAAREAID'), '.json')",
											"type": "Expression"
										}
									}
								}
							}
						},
						{
							"name": "Update_GSC_IF_MNG1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Create_GOM_SHIPPING_INFO_WK",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BlobSource",
									"recursive": true
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBatchSize": 100000,
									"preCopyScript": {
										"value": "update GSC_IF_MNG set\n    GSC_IF_MNG.CPRT_DTTM = CONVERT(DateTime, '@{variables('sysDate')}' )\nwhere\n    GSC_IF_MNG.DATAAREAID = '@{variables('DATAAREAID')}'\nand\n    GSC_IF_MNG.FUNCTION_NAME = '@{variables('programId')}'",
										"type": "Expression"
									},
									"disableMetricsCollection": false
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "GSC_DUMMY_JSON_FILE",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "D365_GSC_IF_MNG",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Set_pipelineId",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineId",
					"value": {
						"value": "@substring(pipeline().Pipeline, 0, 21)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"DATAAREAID": {
				"type": "string"
			}
		},
		"variables": {
			"programId": {
				"type": "String"
			},
			"DATAAREAID": {
				"type": "String"
			},
			"sysFromTo": {
				"type": "String"
			},
			"targetsDir": {
				"type": "Array"
			},
			"sysDate": {
				"type": "String"
			},
			"Exe_Status": {
				"type": "String"
			},
			"Error_Code": {
				"type": "String",
				"defaultValue": "8"
			},
			"Normal_Code": {
				"type": "String",
				"defaultValue": "0"
			},
			"targetPath": {
				"type": "Array"
			},
			"backupProperty": {
				"type": "Array"
			},
			"zipFileName": {
				"type": "Array"
			},
			"backupTargetFile": {
				"type": "Array"
			},
			"pipelineId": {
				"type": "String"
			}
		},
		"folder": {
			"name": "GSC/src/IDMS_GOM"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-18T02:41:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}