pipeline/TEMPFILE_COPY_TO_GATEWAYSERVER.json
{
	"name": "TEMPFILE_COPY_TO_GATEWAYSERVER",
	"properties": {
		"activities": [
			{
				"name": "TEMPFILE_COPY_TO_GATEWAYSERVER",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Check_Status_Failed",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BlobSource",
						"recursive": true
					},
					"enableStaging": false
				}
			},
			{
				"name": "Check_Status_Failed",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check_Status_Warning",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(pipeline().parameters.Exe_Status, '8')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Set_Failed",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "FileName",
								"value": {
									"value": "@{variables('Failed_File_Name')}",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Check_Status_Warning",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check_Status_Normal",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(pipeline().parameters.Exe_Status, '4')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Set_Warning",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "FileName",
								"value": {
									"value": "@{variables('Warning_File_Name')}",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Check_Status_Normal",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set_Normal_File_Name",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set_Warning_File_Name",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set_Failed_File_Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(pipeline().parameters.Exe_Status, '0')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Set_Normal",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "FileName",
								"value": {
									"value": "@{variables('Normal_File_Name')}",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set_Normal_File_Name",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Normal_File_Name",
					"value": {
						"value": "@replace('EndDetectionFile', '''', '')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set_Warning_File_Name",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Warning_File_Name",
					"value": {
						"value": "@replace('EndDetectionFile_Warning', '''', '')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set_Failed_File_Name",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Failed_File_Name",
					"value": {
						"value": "@replace('EndDetectionFile_Failed', '''', '')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"programId": {
				"type": "string"
			},
			"DATAAREAID": {
				"type": "string"
			},
			"Exe_Status": {
				"type": "string"
			},
			"sysFromTo": {
				"type": "string"
			}
		},
		"variables": {
			"Normal_File_Name": {
				"type": "String"
			},
			"Warning_File_Name": {
				"type": "String"
			},
			"Failed_File_Name": {
				"type": "String"
			},
			"FileName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "GSC/src/cmn"
		},
		"annotations": [],
		"lastPublishTime": "2019-12-23T08:48:20Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}